.main-button {    
    display: inline-block;
    background-color: black;
    font-family: "Fira code";
    color: #BA1F33;
    box-shadow: 3px 3px 0px black;
    padding: 18px 20px;
    margin-right: 0;
    text-decoration: none;
}

.main-button:hover {    
    display: inline-block;
    color: white;
    font-size: 20px;
    font: "Fira code";
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 0px gray;
    padding: 18px 20px;
    margin-right: 0;
}