.section {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
}

.section .main-title {
    margin-bottom: 100px;
}

.section.-bgBlack {
    background-color: black;
}

.section.-bdFirst {
    border-color: plum;
}