.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color:red;
    text-shadow: 4px 4px 0 black;
}

.title.-second {
    color: #BA1F33;
    text-shadow: none;
    text-align: center;
}